@import 'tailwindcss';

@font-face {
  font-family: 'AdifHauss';
  src:
    url('/fonts/AdifHauss-Medium.woff2') format('woff2'),
    url('/fonts/AdifHauss-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AdifHauss';
  src: url('/fonts/AdifHauss-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-blue: #001b41;
  --color-dark-blue: #102341;
  --color-light-blue: #1a3254;
  --color-light-green: #bfefd5;
  --color-dark-green: #acdac6;
}

:root {
  font-family: 'AdifHauss', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  @apply ring-2 ring-dark-green ring-offset-2;
}

input[type='checkbox']:checked {
  @apply bg-dark-green border-dark-green;
}

input[type='radio']:checked {
  @apply bg-dark-green border-dark-green;
}
